<!DOCTYPE html>
<html ng-app="app" class="layout-pf layout-pf-fixed layout-pf-fixed-inner-scroll transitions">
    <head lang="en">
        <title ng-bind="title" translate>OpenShift Web Catalogs</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="icon" href="/favicon.ico"/>
        <base href="/">

        <%- include styles.html %>
    </head>
    <body ng-app="catalogApp" class="cards-pf ng-cloak">
        <div>
            <navigation></navigation>
            <div id="centralPanel" class="container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-tertiary">
                <div class="pf-framework-content">
                    <main ng-view class="pf-framework-view">
                        <ui-view></ui-view>
                    </main>
                </div>
            </div>
        </div>

        <%- include javascripts.html %>

    </body>
</html>
